.contactCard {
  color: black;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  height: 500px;
  width: 1200px;
  border-radius: 20px;
}

.contactBackground {
  color: white;
  text-align: center;
  background-color: #720000;
  height: 700px;
}

.callUs {
  color: white;
  background-color: #bf0000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 2px solid #bf0000;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  height: 50px;
}

.contactUs {
  font-size: 24px;
}

.giveUsACall {
  font-size: 32px;
}
