.storeName {
    color: red;
}

.catchPhrase {
}

.slideShow {
    background-image: url('/donutBox.png');
    background-size: cover;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
}