.storeName {
    color: red;
}

.catchPhrase {
}

.slideShow {
    background-image: url('/filledDonuts.jpg');
    background-size: cover;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
}

.logo {
    display: block;
    margin: 0 auto;
}