.storeName {
    color: red;
}

.catchPhrase {
    color: white;
}

.slideShow {
    background-image:
     linear-gradient(
        rgba(0, 0, 0, 0.70),
        rgba(0, 0, 0, 0.30)
     ),
     url('/filledDonuts.jpg');
    background-size: cover;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 525;
    padding: 0 0 206 0;
}

.logo {
    display: block;
    margin: 0 auto;
}