.storeName {
    color: red;
}

.catchPhrase {
    color: white;
    text-align: center;
}

.background {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-image:
     linear-gradient(
        rgba(0, 0, 0, 0.70),
        rgba(0, 0, 0, 0.30)
     ),
     url('/filledDonuts.jpg');
    background-size: cover;
}

.titleBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-40px);
}

.logo {
    display: block;
    margin: 0 auto;
    filter: drop-shadow( 0 4px 8px rgba(0, 0, 0, 0.6));
}

.storeName {
    display: block;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.6));
}

.content {
    background-color: lime;
    margin: 0 auto;
}

.aboutBackground {
    background-color: white;
}

.aboutCard {
    display: flex;
    text-align: center;
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
}

.imageWrapper {
    position: relative;
    width: 600px;
    height: 100%;
    border-radius: 12px;
    transform: translateY(200px);
    z-index: 2;
}

.slideShow {
    background-color: black;
    object-fit: cover;
    border-radius: 10px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    background-color: green;
}

.hoursCard {
    text-align: center;
    background-color: #FFE1E1;
    height: 600px;
}

.ordersCard {
    text-align: center;
    background-color: #E6A5A5;
    height: 600px;
}

.contactCard {
    text-align: center;
    background-color: #CC6E6E;
    height: 600px;
}

.footer {
    background-color: #4F1E1E;
    height: 50px;
}